:root {
  --fade: rgba(0, 0, 0, 0.6);
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.nav_bar {
  background-color: black;
  /* color: white; */
}
.navbar-nav {
  color: white;
}
.hero {
  /* ROVpic02 1 */
  display: flex;
  justify-content: space-around;
  /* position: absolute; */
  width: 99.8vw;
  height: 100vh;
  background-color: rgb(33, 37, 76);
  /* left: 1440px; */
  /* top: 0px; */
  /* display: flex; */
  /* background-image: url(../assets/ROVpic02\ 1.png); */
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  background-size: 100vw;
  background-size: cover;
}
.hero-content {
  display: inline-block;
  max-width: 40vw;
}
@media screen and (max-width: 420px) {
  .hero {
    display: block;
  }
  .hero-content {
    max-width: 90vw;
  }
  .hero-image img {
    width: 80vw;
    left: 0;
  }
}
.hero-h2 {
  /* position: absolute; */
  width: auto;
  height: auto;
  /* align-self: flex-start; */
  margin-top: 25vh;
  /* display: flex; */
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  /* margin-left: 10vw ; */
  color: #ffffff;
  text-align: center;

  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
.hero-image {
  margin: 6rem 0 0 6rem;
}

.hero-p {
  /* position: absolute; */
  /* width: auto;
  height: auto; */
  align-self: center;
  margin-top: 25vh;
  text-align: center;

  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  /* line-height: 29px; */
  /* margin-left: 10vw ; */

  color: #ffffff;

  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.hero-vector {
  position: absolute;
  width: 66px;
  height: 33px;
  left: 687px;
  top: 88vh;
}
.hero-vector:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.71);
  background-color: var(--fade);
  border-radius: 20%;
}

.achievements {
  height: 100vh;
}

.achievements-h2 {
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 4rem;
}

.achievements-card {
  margin-top: 10vh;
  height: 40vh;
  width: 15vw;
  background-color: #0e495d;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  border-radius: 15px;
}

.achievements-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.sponsors {
  min-height: 100vh;
  background-color: #0e495d;
  margin-top: 5rem;
}
.sponsors-h2 {
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  padding-top: 3rem;
}
.sponsors-container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.sponsors-card {
  background-color: white;
  height: 40vh;
  width: 30vw;
  border-radius: 15px;
  text-align: center;
  margin-top: 4rem;
}

.sponsors-text {
  padding-top: 4rem;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.sponsors-image {
  padding-top: 1rem;
}

.contact-body {
  margin-top: 8rem;
}

.contact-h2 {
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  /* padding-left: 4rem; */
}
.contact-details {
  display: flex;
  flex-direction: column;
}
.phone {
  /* margin-left: 4rem; */
  margin-top: 2rem;
  display: inline;
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
.map {
  float: right;
  display: inline;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.socialmedia {
  margin-top: 5rem;
  display: flex;
}
.form {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  flex-direction: column;
}
.form-h2 {
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}

/* ///// inputs /////*/

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 80%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 50vw;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  background-color: white;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type='checkbox'] + label {
  color: #ccc;
  font-style: italic;
}

input[type='checkbox']:checked + label {
  color: #f00;
  font-style: normal;
}

.form-input {
  max-width: 50vw;
  margin-left: 20vw;
}

.team-h1 {
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 8rem;
}
.team-cards {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8vw;
  margin: 0 3rem 0 3rem;
}
.card-container {
  margin-top: 2rem;
  width: 13rem;
  height: 18rem;
  background: #000000;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.card-h2 {
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.07em;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-around;
}
.team-images {
  height: 10rem;
  width: 10rem;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: black;
  margin-top: 10rem;
}

.footer-a {
  text-decoration: none;
  color: #999999;
}

.footer-a:hover {
  color: white;
  text-decoration: none;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .hero {
    background-color: rgb(33, 37, 76);
    background-size: cover;
    margin-left: 0;
  }
  .hero-h2 {
    margin-left: 0;
    left: 0;
  }
  .hero-p {
    padding-top: 40vh;
  }
  .nav_bar {
    width: 100vw;
  }
  .hero-vector {
    display: none;
  }
  .achievements-card {
    width: 90vw;
  }
  .sponsors-card {
    width: 90vw;
    margin-bottom: 4rem;
  }

  .contact-h2 {
    display: block;
  }
  .map {
    display: none;
  }
  .contact-details {
    width: 100vw;
    text-align: center;
  }
  .email {
    float: left;
  }
}

.events {
  margin-top: 20vh;
  margin-left: 2rem;
  margin-right: 2rem;
}

.events-h2 {
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 47px;
}

.events-headline {
  margin-top: 2rem;
  max-width: 40vw;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.07em;
  display: flex;
}

.events-hero {
  display: flex;
  justify-content: space-between;
}

.picture-gallery {
  background: #000000;
  border-radius: 10px;
  color: white;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.07em;
  width: 15rem;
  height: 3rem;
}
.event-details {
  padding-top: 3rem;
}
.event-container {
  display: flex;
  min-width: 80vw;
  justify-content: space-around;
  min-height: 40vh;
  margin-bottom: 2rem;
}
.events-container-text {
  height: auto;
}
.events-container-h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 29px;
  /* identical to box height */
  letter-spacing: 0.07em;

  color: #000000;
}
.side-space {
  margin: 0 3rem 0 3rem;
}

@media screen and (max-width: 420px) {
  .events-hero {
    display: block;
  }
  .event-container {
    display: block;
  }
  .events-container-text {
    display: block;
  }
}

.back-arrow {
  margin-top: 18vh;
  margin-left: 3rem;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
