:root{
  --fade : rgba(0,0,0,0.6);
}

*{
  padding: 0;
  margin: 0;
}


/* KARAN's CODE */

.nav_bar{
  background-color: var(--fade);
}

.hero{
  background-color: red;
}
#container{
  overflow: hidden;
	background-attachment: fixed;
}
.hero img{
  width: 60%;
  height: 30%;
}





/* SHUBHRA's CODE */